# Python
__pycache__/
*.pyc
*.pyo
.env

# Data (never commit raw data)
data/

# Jupyter
.ipynb_checkpoints/

# Env
.conda/
*.egg-info/

# API keys
.env
config/secrets.yaml

# Model checkpoints (too large)
checkpoints/
*.pt
*.pth

# Intellij
.idea
/rsca-kg-rec.iml
.venv/
__MACOSX/
